streamlit
loguru
openai
g4f
pexels-api
python-dotenv
moviepy
edge-tts
gTTS
requests
Pillow
pandas
httpx
pydantic
toml
tenacity
shortuuid
filetype
sentence-transformers
scikit-learn
faster-whisper
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
